DOMAIN_NAME=YOUR_DOMAIN_NAME
USER_NAME=YOUR_USER_NAME
USER_PASSWORD=YOUR_USER_PASSWORD
BASE_URL=YOUR_BASE_URL
MODEL_ID=YOUR_MODEL_ID
API_KEY=YOUR_API_KEY
CODER_URL=YOUR_CODER_URL
CODER_MODEL=YOUR_CODER_MODEL
CODER_API=YOUR_CODER_API